src/hls/yolo_*/*_prj
src/hls/yolo_*/*.log
src/hls/yolo_*/tb/*.log
3rdparty/
ip
images
junk
proj
.tags
src/hls/yolo_conv_pw/tb/yaraki/
src/hls/yolo_conv_pw/yolo_conv_pw_prj/
src/hls/yolo_conv_pw/tb/test
src/hls/yolo_conv_*/report_old/
src/hls/yolo_conv_*/*.tar
src/hls/yolo_conv_dw/tb/include/
src/hls/yolo_conv_dw/tb/python_sim/tb_sample.h
src/hls/yolo_acc/tb/tb_sample.h
src/hls/yolo_acc/tb/python_sim/tb_sample.h
src/sdk/
!src/sdk/yolo_sys.cpp
src/tools/make_input_header/data/
!src/tools/make_input_header/data/dog.jpg
src/tools/make_weight_header/headers/
src/tools/make_weight_header/weights/
src/tools/make_weight_header/log
src/tools/Sandbox/
